interface GigabitEthernet0/0
 description MGMT
 ip vrf forwarding MGMT
 ip address 10.211.211.1 255.255.255.248
!
interface GigabitEthernet0/1
 no ip address
!
interface GigabitEthernet0/2

!
interface GigabitEthernet0/3

!
interface GigabitEthernet0/4
!